.btn_colour {
   background-color: #e34927cb !important;
   border-color: #e34927cb !important;
}

.btn-colour:hover,
.btn-colour:focus,
.btn-colour:active,
.btn-colour.active,
.open > .dropdown-toggle.btn-primary {
    background-color: darkorange !important; /* Adjust the color for hover and active states */
    border-color: darkorange !important;
}